body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/sketch_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0 !important;
  padding: 0 !important;
}
div#container {
  padding-top: 167px;
}
div#wrapper {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  min-height: calc(100vh - 167px) !important;
}
div#wrapper div#content {
  flex-grow: 1;
}
div#wrapper footer {
  flex-basis: 130px;
}
.container {
  display: flex;
  flex-direction: column;
}
.navbar-dark {
  background-color: #2b3618 !important;
}
.sublist {
  position: absolute;
  list-style: none;
}
.nav-sublist {
  width: 150px;
  box-sizing: border-box;
  background-color: #2b3618 !important;
  padding: 10px;
  z-index: 5;
  margin-top: 25px;
  border-radius: 7px;
}
.nav-sublist:after {
  color: #2b3618;
  border-bottom: 13px solid;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  display: inline-block;
  content: '';
  position: absolute;
  top: -13px;
  left: 20px;
}
.navigation-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 167px;
}
.nav-sublist-el .nav-link {
  padding: 0;
  margin: 0;
}
.nav-header {
  color: #ddd;
  font-size: 44px;
  font-family: 'Granville', sans;
}
@media screen and (max-width:453px) {
  .nav-header {
    font-size: 10vw;
    text-align: center;
  }
  .nav-link {
    font-size: 5vw;
  }
}
.nav-header span {
  color:#556b2f; 
}
.navigation h2 {
  color: #808080;
  font-size: 20px;
  font-family: 'Granville', sans;
}
.nav-item {
  color: #eee !important;
  font-size: 20px !important;
  font-family: 'Granville', sans !important;
}
.footer {
  position:absolute;
  left: 0;
  width: 100vw;
  z-index: 20;
}
footer {
  color: #aaa;
}